# IntelliJ
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/misc.xml
/.idea/kotlinc.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/*.xml
.idea/*.xml
.idea/.*
.idea/misc.xml.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/shelf
.idea/shelf/*.xml
.idea/jarRepositories.xml
.idea/deploymentTargetDropDown.xml
.idea/compiler.xml
.idea/vcs.xml
# Android Studio 3 in .gitignore file.
.idea/caches
.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
release-keystore.properties
/fastlane/report.xml
/app/lint-baseline.xml
/lib/baseline/ktlint-baseline.xml
/feature/build/intermediates/ktLint/reporterProviders.bin
/feature/build/intermediates/ktLint/reporters.bin
/.idea/inspectionProfiles/Project_Default.xml
*.apk
/app/release/output-metadata.json
/app/release/
/feature/networkstatus/build/
/.idea/inspectionProfiles/
*.jks
/build-logic/convention/build/
